.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.dashboard {
  display: flex;
  flex-direction: column-reverse;
  width: full;
  height: full;
  gap: 2em;
  padding: 2em;
}

.dashboard-container {
  display: flex;
  -ms-flex-align: baseline;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
}

.monthly-revenue-card,
.metodo-pagamento-card,
.pie-chart-card,
.top-clients-card {
  width: calc(50% - 1em); /* Largura de 50% com um espaçamento de 1em entre os cartões */
  margin-bottom: 1em;
}

/* Ajustes para telas menores */
@media (max-width: 768px) {
  .monthly-revenue-card,
  .metodo-pagamento-card,
  .pie-chart-card,
  .top-clients-card {
    width: 100%; /* Em telas menores, ocupar 100% da largura */
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
  justify-content: space-between;  /* Ajuste conforme necessário */
  align-items: flex-start;         /* Ajuste conforme necessário */
}

.monthly-revenue-container {
  display: flex;
  flex-direction: column;
}

